<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="http://p5w1f51o8.bkt.clouddn.com/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../fonts/font.css">
    <link rel="stylesheet" href="../css/same.css">
    <link rel="stylesheet" href="../css/special_new.css">
    <link rel="stylesheet" href="../css/userCenter.css">
    <title>商业_好奇心日报</title>
</head>

<body>
    <div id="box">
        <div class="nav">
            <div class="left">
                <div class="div_a">
                    <a id="logo_content" href="index.html" target="_blank">
                        <img src="http://p5w1f51o8.bkt.clouddn.com/logo.png" id="logo">
                    </a>
                    <a id="logo_box" href="index.html" target="_blank">
                        <img src="http://p5w1f51o8.bkt.clouddn.com/curious.jpg" id="logo_bottom">
                    </a>
                </div>
                <ul id="item_left">
                    <li>
                        <a href="research.html" target="_blank">
                            <span class="span_icon1">
                                <i class="iconfont">&#xe64a;</i>
                            </span>
                            <p>好奇心研究所</p>
                        </a>
                    </li>
                    <li>
                        <a href="column.html" target="_blank">
                            <span class="span_icon2">
                                <i class="iconfont">&#xe6f9;</i>
                            </span>
                            <p>栏目中心</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="middle">
                <ul id="middle_item">
                    <li>
                        <a href="long_article.html" target="_blank">
                            长文章
                        </a>
                    </li>
                    <li>
                        <a href="picture.html" target="_blank">
                            10 个图
                        </a>
                    </li>
                    <li>
                        <a href="Top 15.html" target="_blank">
                            Top 15
                        </a>
                    </li>
                    <li>
                        <a href="business.html">
                            商业
                        </a>
                    </li>
                    <li>
                        <a href="magic.html" target="_blank">
                            智能
                        </a>
                    </li>
                    <li>
                        <a href="design.html" target="_blank">
                            设计
                        </a>
                    </li>
                    <li>
                        <a href="fashion.html" target="_blank">
                            时尚
                        </a>
                    </li>
                    <li>
                        <a href="happiness.html" target="_blank">
                            娱乐
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" id="last_icon">
                            全部分类
                            <i class="iconfont down">&#xe601;</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="right">
                <div class="app">
                    <a href="app.html" id="app_a" target="_blank">
                        APP
                    </a>
                </div>
                <div class="icon_s">
                    <a href="javascript:;" class="search">
                        <i class="iconfont">&#xe6fe;</i>
                    </a>
                </div>
                <div class="about_us">
                    <span class="login">
                        <a href="javascript:;" class="login_img">
                            <img src="http://p5w1f51o8.bkt.clouddn.com/login.png">
                        </a>
                        <a href="javascript:;" class="login_img">
                            登录
                        </a>
                    </span>
                    <span>
                        <a href="app.html" target="_blank">
                            关于我们
                        </a>
                    </span>
                    <span>
                        <a href="http://weibo.com/qdaily" class="icon_a" target="_blank">
                            <i class="iconfont">&#xe65a;</i>
                        </a>
                    </span>
                    <span>
                        <a href="javascript:;" class="icon_a">
                            <i class="iconfont">&#xe69a;</i>
                            <div class="weixin_box">
                                <div id="QR_Code"></div>
                                <p id="number">好奇心微信公众号</p>
                            </div>
                        </a>
                    </span>
                </div>
            </div>
            <div class="page_nav">
                <ul id="page_ul">
                    <li>
                        <a href="long_article.html" target="_blank">
                            <span>
                                <i class="iconfont">&#xe61c;</i>
                            </span>
                            <p>
                                长文章
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="picture.html" target="_blank">
                            <span>
                                <i class="iconfont">&#xe61c;</i>
                            </span>
                            <p>
                                10 个图
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="Top 15.html" target="_blank">
                            <span>
                                <i class="iconfont">&#xe61c;</i>
                            </span>
                            <p>
                                Top 15
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="business.html">
                            <span>
                                <i class="iconfont">&#xe61c;</i>
                            </span>
                            <p>
                                商业
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="magic.html" target="_blank">
                            <span>
                                <i class="iconfont">&#xe61c;</i>
                            </span>
                            <p>
                                智能
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="design.html" target="_blank">
                            <span>
                                <i class="iconfont">&#xe61c;</i>
                            </span>
                            <p>
                                设计
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="fashion.html" target="_blank">
                            <span>
                                <i class="iconfont">&#xe61c;</i>
                            </span>
                            <p>
                                时尚
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="happiness.html" target="_blank">
                            <span>
                                <i class="iconfont">&#xe61c;</i>
                            </span>
                            <p>
                                娱乐
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="city.html" target="_blank">
                            <span>
                                <i class="iconfont">&#xe61c;</i>
                            </span>
                            <p>
                                城市
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="game.html" target="_blank">
                            <span>
                                <i class="iconfont">&#xe61c;</i>
                            </span>
                            <p>
                                游戏
                            </p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main_box">
            <div class="out_div">
                <div class="max_box">
                    <div class="user_center_banner">
                        <img src="http://www.qdaily.com/images/web/users/avatar-banner-bg.jpg">
                        <div class="five_point">
                            <canvas id="new_hope" width="350" height="300"></canvas>
                            <a href="javascript:;" class="login_img">
                                <img src="http://p5w1f51o8.bkt.clouddn.com/login.png">
                            </a>
                            <p>你的
                                <a href="javascript:;">开脑洞</a>的好奇心还不够哦</p>
                        </div>
                        <a href="javascript:;" class="name_user">白矖</a>
                    </div>
                    <div class="setUp">
                        <div class="a_contain">
                            <a href="javascript:;">我的收藏</a>
                            <a href="javascript:;">账号设置</a>
                        </div>
                    </div>
                    <div class="information" style="height:100px">
                        <ul>
                            <li>
                                <div class="last_title">
                                    <p>
                                        <span>没有更多啦</span>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="all_contain">
                                    <div class="z_t">
                                        <p>修改头像</p>
                                        <img src="http://p5w1f51o8.bkt.clouddn.com/login.png" class="login_img">
                                        <label for="t_photo">上传头像</label>
                                        <input type="file" name="uploadHeadimage" id="t_photo">
                                    </div>
                                    <div class="text">
                                        <div>
                                            <p>昵称</p>
                                            <input id="center-showNickname" type="text" placeholder="昵称">
                                            <p>邮箱</p>
                                            <input id="center-showUsername" type="text" placeholder="邮箱">
                                        </div>
                                        <div class="text_area">
                                            <p>简介</p>
                                            <textarea placeholder="一句话介绍自己" id="input_t"></textarea>
                                            <span class="t_span">
                                                还可以输入
                                                <span class="t_num">34</span>个字
                                            </span>
                                            <span class="t_span">
                                                已超出
                                                <span class="t_num"></span>个字
                                            </span>
                                        </div>
                                    </div>
                                    <div class="submit_b">
                                        <label for="Btn_sub">确定</label>
                                        <input type="submit" id="Btn_sub">
                                        <div>
                                            <a href="javascript:;">修改密码</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="same_bottom">
            <div class="s_b_top">
                <div class="many_ul">
                    <ul>
                        <li>
                            <a href="index.html" target="_blank">
                                首页
                            </a>
                        </li>
                        <li>
                            <a href="long_article.html" target="_blank">
                                长文章
                            </a>
                        </li>
                        <li>
                            <a href="Top 15.html" target="_blank">
                                TOP 15
                            </a>
                        </li>
                        <li>
                            <a href="picture.html" target="_blank">
                                10 个图
                            </a>
                        </li>
                        <li>
                            <a href="research.html" target="_blank">
                                好奇心研究所
                            </a>
                        </li>
                        <li>
                            <a href="column.html" target="_blank">
                                100个有想法的人
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                Medium
                            </a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="big_company.html" target="_blank">
                                大公司头条
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                Q Business
                            </a>
                        </li>
                        <li>
                            <a href="column.html" target="_blank">
                                今日应用
                            </a>
                        </li>
                        <li>
                            <a href="column.html" target="_blank">
                                这世界
                            </a>
                        </li>
                        <li>
                            <a href="best_on_the_web.html" target="_blank">
                                Best on the web
                            </a>
                        </li>
                        <li>
                            <a href="business.html">
                                商业
                            </a>
                        </li>
                        <li>
                            <a href="magic.html" target="_blank">
                                智能
                            </a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="design.html" target="_blank">
                                设计
                            </a>
                        </li>
                        <li>
                            <a href="fashion.html" target="_blank">
                                时尚
                            </a>
                        </li>
                        <li>
                            <a href="happiness.html" target="_blank">
                                娱乐
                            </a>
                        </li>
                        <li>
                            <a href="city.html" target="_blank">
                                城市
                            </a>
                        </li>
                        <li>
                            <a href="game.html" target="_blank">
                                游戏
                            </a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="app.html" target="_blank">
                                下载APP
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;" class="login_img">
                                登录 / 注册
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                订阅
                            </a>
                        </li>
                        <li>
                            <a href="https://weibo.com/qdaily" target="_blank">
                                微博
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;" class="show_a">
                                微信
                                <div class="wei_xin_bottom">
                                    <div id="weixin_code"></div>
                                    <p class="code_word">好奇心微信公众号</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="use_ agreement.html" target="_blank">
                                用户协议
                            </a>
                        </li>
                        <li>
                            <a href="use_ agreement.html#privacy" target="_blank">
                                隐私政策
                            </a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="app.html" target="_blank">
                                关于好奇心
                            </a>
                        </li>
                        <li>
                            <a href="app.html" target="_blank">
                                联系我们
                            </a>
                        </li>
                        <li>
                            <a href="app.html" target="_blank">
                                工作机会
                            </a>
                        </li>
                        <li>
                            <a href="use_ agreement.html#copyright" target="_blank">
                                版权声明
                            </a>
                        </li>
                    </ul>
                    <form action="/searches" target="_blank" class="search_form">
                        <input type="text">
                        <span>
                            <i class="iconfont">&#xe6fe;</i>
                        </span>
                    </form>
                </div>
            </div>
            <div class="s_b_bottom">
                <div class="power_right">
                    <div class="right_img">
                        <img src="http://p5w1f51o8.bkt.clouddn.com/logo.png">
                    </div>
                    <div class="right_word">
                        <p>2014 北京酷睿奥思科技发展有限公司</p>
                        <p>京ICP备14027177号-1</p>
                        <span>
                            <img src="http://p5w1f51o8.bkt.clouddn.com/Police.png">
                        </span>
                        <p>京公网安备 11010502030071号</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/jQuery.js"></script>
    <script src="../js/jcanvas.min.js"></script>
    <script src="../js/jquery.qrcode.js"></script>
    <script src="../js/ajaxFileUpload.js"></script>
    <script src="../js/userCenterMethod.js"></script>
    <script src="../js/same.js"></script>
    <script src="../js/userCenter.js"></script>
</body>

</html>